*{
    box-sizing: border-box;
}
#logo-box{
	width:150px;
	margin:auto;
}

#logo img{
	width:100%;
}

.header-menu li{
	display:inline-block;
	width:33%;
	text-align:center;
}

.header-menu a{
	font-family:"Arial";
	text-decoration:none;
	color:white;
}

.header-menu a:hover{
	color:orange;
}

.header-menu{
	background-color:#1498d5;
	padding:10px 0;
}

.slide-box{
	display:block;
	margin:20px auto;
	width:50%;
}

.userChatList{
	width:50%;
	text-align:center;
	margin:auto;
	background-color:#1498d5;
	padding:10px 0;
	border-bottom: 2px solid white;
	height:60px;
}

.userChatList a{
	text-decoration:none;
	font-family:"Arial";
	color:white;
	width:100%;
	display:inline-block;
	padding-top:10px;
}

.userChatList a:hover{
	color:orange;
}

.status img{
	width:10px;
	margin-left:10px;
}


#whoChat{
	text-align:center;
	background-color:#1477d5;
	width:50%;
	text-align:center;
	margin:auto;
	border-bottom: 2px solid white;
	padding:10px 0;
}

form{
	margin-left:38%;
}
form label{
	width:100px;
	display:inline-block;
	margin:10px 0;
}

form input[type="submit"]{
	margin-top:10px;
	border-radius:5px;
	border: 2px solid #1477d5;
	background-color: #1498d5;
	width:100px;
	padding:10px;
}

/***************FOOTER STYLES*****************/

/*Site hub styles*/
#footer-container{ /*this container is necessary for viewports which are >1000px*/
	background-color:#1498d5;
	border-top: solid 5px #004747;
	padding:10px 0;
	margin-top:10px;
}

footer h3{
	font-size:30px;
	text-align:center;
	margin-top:0;
	margin-bottom:15px;
}

footer a{
	font-size:20px;
	font-family:"Arial";
}

.site-hub ul{
	margin-top:-20px;
}

.site-hub, .social{
	padding: 0 15px;
}

footer li{
	list-style:none;
}
.site-hub li{
	float:left;
	width:50%;
	font-size:30px;
	padding-bottom:10px;
}

.site-hub a{
	color:white;
	text-decoration:none;
	-webkit-text-stroke: 0.33px #006969;
	display:inline-block;
	width:100%;
}

.site-hub a:hover{
	color:rgba(255,127,80,0.9);
}

.social>div>ul{
	display:flex;
	display: -ms-flexbox;
	justify-content:center;
	-ms-flex-pack: center;
	-ms-flex-wrap:wrap
}

.social img{
	display:inline-block;
	width:75%;
}

.social li{
	width:25%;
}

.social h3{
	padding:0;
}
.contact-phone a{
	color:white;
	text-decoration:none;
}
.contact-phone a:hover, .tab a:hover{
	color: rgba(255,127,80,0.9);
}

/*******************************SERVICES PAGE********************************/
#services-banner{
	margin-top:5px;	
	width:100%;
}

.site-hub li{
		width:33%;
	}
	
	.site-hub li:nth-child(3n+2){
		text-align:center;
	}
	
	.site-hub li:nth-child(3n+1){
		text-align:left;
	}
	
	.site-hub li:nth-child(3n+3){
		text-align:right;
	}
	
	.social div{
		margin-top:20px;
	}
	
	.contact-phone{
		margin-top:50px;
	}
	.contact-phone a{
		display:block;
	}

